img{
    max-width: 100%;
    width: 100%;
}
.hidden{
    display: none;
}
ul{
    padding-left: 15px;
    margin-bottom: 0;
}
ul li{
    list-style: none;
}
ul li:focus{
    outline: none;
}
a{
    color: inherit;
}
a:hover{
    text-decoration: none;
    color: #F36F25;
}
p{
    margin-bottom: 0.5em;
}
root{
    font-size: 14px;
    color: #333;
}
body{
    font-size: 14px;
    color: #000;
    font-family: 'Roboto', sans-serif;
}
.thumbnail--border{
    border-radius: 5px;
    overflow: hidden;
}
button{
    border: none;
}
button:focus,a:focus{
    outline: none;
}
.margin-center{
    margin: 0 auto;
}
.main-border{
    border:1px solid #F36F25 !important;
    background: #F36F25 !important;
    color:#fff
}
.main-button,.second-button{
    background: #F36F25;
    border:1px solid #F36F25;
    color: #fff !important;
    text-align: center;
    padding: 0.2em 1.5em;
    border-radius: 2em;
    cursor: pointer;
    display: inline-block;
}
.second-button{
    color: #333 !important;
    background: transparent;
    border:1px solid #ccc;
}
.main-button:hover,.second-button:hover{
    background: #333;
    border:1px solid #333;
    transition: 0.2s ease-in-out;
    color: #fff !important;
}
.main-color{
    color: #F36F25;
}
.second-color{
    color: forestgreen;
}
.no-padding{
    padding: 0;
}
.padding-bottom-15{
    padding-bottom: 15px;
}
.padding-15{
    padding: 15px;
}
.padding-v-30{
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}
.padding-v-15{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}
.padding-h-15{
    padding-left:15px !important;
    padding-right:15px !important;
}
.margin-v-15{
    margin: 15px 0;
}
.margin-h-15{
    margin: 0 15px;
}
input:focus{
    outline: none;
}
/* header style*/
header nav ul li{
    display: inline-block;
    text-transform: uppercase;
    margin: 0 10px ;
}
header .is-login{
    border: 1px solid #555;
    border-radius: 5px;
    position: relative;
    padding: 2px 5px;
    font-size: 20px;
    color: #555;
}
header .is-login:hover{
    border-color: #F36F25;
}
header .is-login span{
    position: absolute;
    display: block;
    right: -12px;
    top: -10px;
    font-size: 12px;
    background: #F36F25;
    color: #fff;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
}
form.search{
    position: relative;
}
form.search input{
    width: 100%;
    border-radius:5px;
    padding: 10px 15px;
    border:1px solid #aaa;
    min-width: 300px;
    background: transparent;
}
form.search input:focus{
    outline: none;
    border-color:#777;
}
form.search button[type='submit']{
    background: transparent;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    color: #555;
    cursor: pointer;
}
/*end header style*/


/* home style*/
    /*slider style*/
        .carousel-item{
            max-height: 90vh;
            overflow: hidden;
        }
        /*.carousel-item:after{*/
            /*content:'';*/
            /*display: block;*/
            /*width: 100%;*/
            /*height: 100%;*/
            /*position: absolute;*/
            /*top: 0%;*/
            /*left: 0;*/
            /*background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0%, rgba(255,255,255, 0) 100%)*/
        /*}*/
        .carousel-item-info{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            padding: 10% 0;
            text-align: center;
            z-index: 1;
        }
        .carousel-item-info h1{
            font-weight: bold;
            font-size: 5em;
            line-height: 1;
        }
        .carousel-item-info h2{
            font-size: 4em;
            font-weight: 300;
            line-height: 1;
        }
        .carousel-item-info .date,.carousel-item-info .location{
            font-size: 2em;
            text-shadow:
                    -1px -1px 0 #fff,
                    1px -1px 0 #fff,
                    -1px 1px 0 #fff,
                    1px 1px 0 #fff;
        }
        .carousel-item-info .location{
            color: #333;
            font-weight: 300;
        }
        .carousel-item-info .main-button{
            font-size: 1.5em;
        }
    /*end slider style*/

    /*list event*/
        .event-item__thumbnail img{
            width: 100%;
        }
        .event-item__detail{
            /*margin-left: 0;*/
            /*margin-right: 0;*/
            margin-top: 15px;
        }
        .event-item__detail a{
            width: max-content;
        }
        .event-item__detail .title{
            font-size: 1.5em;
            font-weight: 500;
            line-height: 1.3;
            margin-bottom: 10px;
            color: #333;
        }
        .event-item__detail .price{
            font-size: 2em;
            font-weight: 700;
            line-height: 1;
        }
    /*end list event*/

    /* list news*/
        .news-item{
            color: #333;
        }
        .news-item__thumbnail img{
            width: 100%;
        }
        .news-item__detail .title{
            margin-top: 15px;
            color: #000;
        }
        .news-item__detail .date{
            opacity: 0.5;
            font-size: 1em;
        }
        .news-item__detail .title {
            margin-top: 15px;
            color: #000;
            font-size: 1.1em;
            margin-bottom: 10px;
        }
    /* end list news*/
    .home-block-2{
        background: #f1f1f1;
    }
    .block-title{
        font-size: 2em;
        font-weight: 300;
    }
    .block-title:after,.block-title:before{
        content: '';
        display: block;
        flex: auto;
        height: 1px;
        background: #ccc;
    }
/*end home style*/

/* style event detail*/
    .breadcrumb{
        background: transparent;
    }
    .breadcrumb-item+.breadcrumb-item::before{
        display: none;
    }
    .breadcrumb-item svg{
        margin-right: 5px;
    }
    .nav-pills .nav-link.active,.nav-pills .nav-link:hover{
        border: 1px solid rgba(243, 111, 37,1);
        background: rgba(243, 111, 37,0.2);
        color:rgba(243, 111, 37,1);
    }
    .nav-pills .nav-link{
        border: 1px solid rgba(0, 0, 0,0.3);
        background: rgba(0, 0, 0,0.2);
        color: rgba(0, 0, 0,0.5);
        width: 150px;
        padding: 5px;
        text-transform: uppercase;
        text-align: center;
        font-size: 1.3em;
        margin-right: 10px;
    }
    .nav-item{
        position: relative;
    }
    .nav-item >div{
        border: 1px solid #ccc;
        position: absolute;
        right: -50px;
        width: 50px;
        height: 40px;
        top: 0;
        line-height: 40px;
        text-align: center;
        border-radius: 5px;
    }
    .nav-item >div:before{
        content: '';
        display: block;
        position: absolute;
        left: -5px;
        top: 15px;
        width: 8px;
        height: 8px;
        background: #fff;
        transform: rotate(45deg);
        border: 1px solid #ccc;
        border-top: none;
        border-right: none;
    }
    table{
        width: 100%;
        border-collapse: collapse;
        color: #555;
    }

    th, td {
        border: 2px solid #fff;
    }

    table td,table th{
        padding: 10px;
        text-align: center;
    }
    table tr:nth-child(2n+1){
        background: #ddd;
    }
    table tr:nth-child(2n){
        background: #f2f2f2;
    }
    table tr.title{
        background: #ccc;
        color: #333;
        font-weight: 700;
    }
    table th:first-child,table td:first-child{
        text-align: left;
        color: #333;
    }
    table td button{
        border: 1px solid #F36F25;
    }
    .payment{
        width: 25px;
        height: 25px;
        border:1px solid #ccc;
        border-radius: 3px;
        margin: 0 auto;
        position: relative;
    }
    .payment.checked svg{
        display: block;
        color: #fff;
        font-size: 15px;
        position: absolute;
        top: 3px;
        left: 5px;
        text-align: center;
    }
    .payment.checked{
        background: #F36F25;
        border:1px solid #F36F25;
    }
    .pagination li a,.pagination li div{
        width: 2.5em;
        height: 2.5em;
        display: block;
        text-align: center;
        line-height: 2.5em;
        border:1px solid #ccc;
        margin: 0.3em;
    }
    .pagination li div{
        border:none
    }
    .pagination li a{
        padding: 0;
    }
/* end style event detail*/

/*style sidebar*/
.sidebar{
    background: #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
}
.sidebar >ul >li{
    border-bottom: 1px dotted #555;
    padding: 7px 0;
}
.sidebar ul.event-detail li{
    font-weight: 700;
}
.sidebar ul.event-detail li .title{
    font-weight: 400;
}
.sidebar a.main-button{
    margin: 10px auto;
    display: table;
}
/*end style sidebar*/
.event-list--sidebar .event-item{
    margin: 15px 0;
    padding-bottom: 15px;
    border-bottom: 1px dotted #ccc;
}
.event-list--sidebar .event-item__detail .d-flex{
    border:1px solid #ccc;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
}
.event-list--sidebar .event-item__detail .d-flex *{
    flex: auto;
    padding: 7px 10px 3px;
    color: #555;
}
.event-list--sidebar .event-item__detail .d-flex a{
    background: #555;
    border:1px solid #555;
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
}
.event-list--sidebar .event-item__detail .d-flex a:hover{
    background: #F36F25;
    color: #fff;
    border-color: #F36F25;
}
/* footer*/
footer .logo{
    display: table;
    margin-bottom: 10px;
}
/*modal*/
.modal-header{
    border-bottom: none;
}
.modal-body{
    padding: 30px;
}
form >div{
    font-size: 1.5em;
    color: #555;
}
.modal-content .close{
    height: 30px;
    text-align: center;
    width: 30px;
    right: 20px;
    padding: 0;
    top: 15px;
    position: absolute;
    cursor: pointer;
    z-index: 11111;
}
.modal-body div{
    font-size: 14px;
    color: #555;
    margin: 10px 0;
}
input#phone_number{
    border: none;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0;
    text-align: center;
}
input#phone_number:focus{
    border-color: #F36F25;
}
.form-login label{
    font-size: 1.2em;
    color: #555;
    margin: 10px 0 0;
    font-weight: 300;
}
.form-register label{
    font-size: 1rem;
    padding: 0!important;
}
.form-register label span{
    margin-left: 5px;
    color:#f00;
}
.form-register form >div{
    margin-bottom: 15px;
}
.form-register input{
    border:1px solid #ccc;
    border-radius: 7px;
    padding: 3px 10px;
}
.select{
    position: relative;
    background: #eee;
    border:1px solid #ccc;
    border-radius: 7px;
    padding: 3px 10px;
    margin-right: 15px;
    cursor: pointer;
    max-width: 100%;
}
.select svg{
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 15px;
    opacity: 0.7;
}
.select input{
    width: 200px;
    display: block;
    font-weight: 500;
    border:none;
    background: transparent;
    cursor: pointer;
    color: #555;
    font-size: 1rem;
    padding-top: 5px;
    margin-top: 2px;
}
.select ul{
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    z-index: 111;
    background: #fff;
    font-size: 1rem;
    padding-left: 0;
    display: none;
    border:1px solid #ccc;
}
.select.open ul{
    display: block;
}
.select ul li{
    padding: 5px 10px;
}
.select ul li:hover{
    background: #ccc;
    cursor: pointer;
}
.vhandicap{
    width: 110px!important;
}
/*end modal*/

/*booking*/
.booking #breadcrumb{
    border-bottom: 1px solid #ccc;
}
.booking .breadcrumb{
    margin-bottom: 5px;
}
.progress-booking{
    margin-bottom: 20px;
}
.progress-booking >div{
    text-align: center;
    color: #555;
    width: 20%;
}
.progress-booking >div:first-child >div:before,.progress-booking >div:last-child >div:after{
    background: #fff;
}
.progress-booking >div >div:after,.progress-booking >div >div:before{
    content: '';
    display: block;
    background: linear-gradient(90deg,#999 50%,#fff 50%);
    background-size: 10px;
    flex: auto;
    background-repeat: repeat-x;
    height: 2px;
}
.progress-booking >div.complete svg{
    color: green ;
}
.progress-booking >div.complete h5{
    color:#555;
}
.progress-booking >div svg{
    font-size: 30px;
    color: #999;
    margin: 0 15px;
}
.progress-booking >div h5{
    margin-top: 10px;
}
.booking .list-group{
    margin-bottom: 15px;
    border-left: 1px solid #ddd;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}
.booking table input{
    cursor: pointer;
    display: inline-block;
    opacity: 0;
    position: absolute;
}
.booking table label{
    cursor: pointer;
}
.booking table label div{
    width: 90%;
}
.booking table label:before {
    width: 1em;
    font-size: 18px;
    height: 1em;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    content: '';
    vertical-align: middle;
    overflow: hidden;
    box-shadow: 0 0 0 1px #ccc;
    border: 3px solid #fff;
    margin-right: 15px;
}
.booking input[type=radio]:checked + label:before{
    background: #F36F25;
}
.booking .sidebar{
    font-size: 16px;
}
.booking .sidebar >ul{
    padding-left: 0;
}
.booking .sidebar >ul >li div{
    font-weight: 400;
    color: #555;
}
.booking .sidebar >ul >li div:last-child{
    color: #000;
}

.booking .group{
    padding: 20px 0px 20px 30px;
    position: relative;
    margin-left: -15px;
}
.booking .group .move{
    position: absolute;
    width: 20px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid #ddd;
    background: #fff;
    left: 5px;
    top: 40%;
    font-size: 10px;
    padding: 5px;
    cursor: pointer;
}
.booking .group >div{
    background: #fff;
    width: 100%;
}
.booking .group >div>div{
    margin:0 0 10px;
}
.booking .group >div>div>div>input{
    border:1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    padding: 5px 15px;
}
.booking .group .title{
    font-size: 14px;
}
.booking .group .title span{
    color: #f00;
    margin-left: 10px;
}
.booking .group .second-button{
    display: table;
    padding: 3px 15px;
    font-size: 12px;
    border-color: #ccc;
}
.booking >.main-button{
    padding: 0.2em 0.5em !important;
    float: right;
}
.padding-right-0{
    padding-right: 0!important;
}
.background-gray{
    background: #ddd;
}
label{
    margin-bottom: 0;
}
.booking-complete{
    background: #eee;
    margin-top: 20px;
    font-size: 16px;
    color:#333
}
.booking-complete .title{
    font-weight: 700;
    color:green;
}
.booking-complete svg{
    color: green;
    font-size: 70px;
}
.list-group >.main-color{
    background: #fff;
    margin-left: -20px;
}
.padding-left-40{
    padding-left: 40px;
}
.flight-table{
    border-left: 1px solid #ddd;
    padding-left: 20px;
    margin-left: 20px;
}
.flight-table .title{
    margin-left: -50px;
    background: #fff;
    padding: 5px;
}
.flight-table table th{
    background: #fff;
}
.flight-table table td, table th{
    text-align: left;
}
.flight-table table td{
    padding-left: 15px!important;
}
.info {
    font-size: 16px;
    color:#555
}
.info >div{
    margin-bottom: 10px;
    line-height: 2em;
}
.info >div >div{
    border-left: 1px solid #ddd;
    padding-left: 20px;
    margin-left: 20px;
}
.info >div:last-child{
    border: none;
}
.info .title{
    background: #fff;
    padding: 10px;
}
.line{
    width: 70%;
    height: 1px;
    background: #ddd;
}
#wrap .move,#wrap .list-group>div.main-color,#wrap .line{
    opacity: 0;
}
#wrap.show .move,#wrap.show .list-group>div.main-color,#wrap.show .line{
    opacity: 1;
}
.list-group >div:nth-child(2) .line {
    display: none;
}
#register_for{
    cursor: pointer;
}
#register_for +label{
    display: inline;
    font-size: 16px;
    cursor: pointer;
}
.xl-button{
    font-size: 16px;
}
header{
    padding: 10px 0;
    background: #eee;
}
footer{
    margin-top: 30px;
}
table.pay-option p{
    font-weight: 400;
}
.home-page header{
    background: #fff;
}
#pills-golfers{
    font-size: 13px;
}
