@media screen and (min-width: 768px) {
    .md-hidden{
        display: none;
    }
    .md-no-padding{
        padding: 0;
    }
}
@media screen and (min-width: 992px) {
    .padding-left-lg-0 {
        padding-left: 0;
    }

}
@media screen and (max-width: 1199px) and (min-width: 992px) {
    .event-detail #breadcrumb{
        margin-top: -50px;
        padding: 0!important;
    }
    table td button{
        font-size: 12px;
        padding: 0.3em 0 !important;
        border: 1px solid #F36F25;
        width: 90px;
    }
    table td:last-child{
        padding: 2px;
        min-width: 200px;
    }
    table th:first-child, table td:first-child{
        padding: 10px;
    }
    .event-list--sidebar .event-item__detail .d-flex >*{
        font-size: 1.2em !important;
        line-height: 1.2em;
    }
    header .logo{
        margin-right: 15px;
    }
    .xl-button{
        font-size: 14px;
    }
    .vhandicap {
        width: 150px !important;
    }
}
@media screen and (max-width: 991px){
    .group .title{
        padding-left: 0;
    }
    .xl-button{
        font-size: 14px;
        padding: 0.2em 1em;
    }
    .event-item__detail .price{
        font-size: 1.5em;
        line-height: 1.5em;
    }
    .main-button, .second-button{
        padding: 0.2em 1em;
    }
    #pills-golfers .main-button,#pills-golfers .second-button{
        margin-bottom: 10px;
    }
    .flight-table,.info > div > div{
        margin-left: 0;
    }
    .lg-no-padding{
        padding: 0;
    }

}
@media screen and (max-width: 991px) and (min-width: 768px){
    .vhandicap {
        width: 180px !important;
    }
    header form.search input{
        min-width: 100%;
    }
    header nav ul li {
        font-size: 14px;
        margin: 0 7px ;
    }
    header .logo{
        margin-right: 15px;
    }
    .event-detail table td button {
        border: 1px solid #F36F25;
        width: 150px;
        margin-bottom: 10px;
    }
    .event-detail table th:first-child,.event-detail table td:first-child{
        min-width: 200px;
    }
    .sidebar{
        background: transparent;
    }
    .sidebar .event-detail{
        padding: 0 15px;
    }
    .event-list--sidebar .event-item{
        border-bottom: none;
    }
    .md-no-padding{
        padding: 0;
    }
    .event-item__detail .title {
        font-size: 1.3em;
        line-height: 1.3em;
    }
    .progress-booking >div h5{
        font-size: 14px;
    }

}
@media screen and (max-width: 767px) {
    .padding-xs-0 {
        padding: 0 !important;
    }

    header nav{
        position: absolute;
        left: -15px;
        top: 15px;
        z-index: 1111;
    }
    header .logo{
        margin-left: 0px;
        padding: 15px 0;
        padding-left: 40px;
        width: 200px;
        z-index: 111;
        position: relative;
    }
    form.search input{
        background: #fff;
        border-color: #eee;
    }
    .position-relative{
        position: relative;
    }
    .sm-position-absolute{
        position: absolute;
        top: 0;
        left: 15px;
    }
    .sm-position-absolute nav ul{
        position: absolute;
        background:#F36F25 ;
        z-index: 1111;
        width: 200px;
        left: 0px;
        top: 35px;
        display: none;
    }
    .sm-position-absolute nav ul li{
        display: block;
        text-align: left;
        margin: 10px 0;
        color: #fff;
    }
    .sm-hidden{
        display: none;
    }
    header .container{
        padding-top: 0!important;
        padding-bottom: 0 !important;
    }
    .sm-background{
        background: #F36F25;
    }
    .sm-header{
        color: #fff;
        height: 50px;
    }
    #sm-header form.search{
        margin-left: -15px;
        margin-right: -15px;
    }
    #sm-header form.search input{
        border-radius: 0;
    }
    #sm-header.open .logo{
        background: #f1f1f1;
        padding:15px;
        z-index: 11111;
    }
    #sm-header.open .logo img{
        display: block;
    }
    #sm-header.open .logo img.md-hidden{
        display: none;
    }
    #sm-header.open .sm-position-absolute nav ul{
        display: block;
    }

    #sm-header.open #close-menu{
        display: block;
    }
    .event-detail table th:nth-child(2),.event-detail table th:nth-child(3),.event-detail table td:nth-child(2),.event-detail table td:nth-child(3){
        display: none;
    }
    .event-detail table td button {
        width: 150px;
        margin-bottom: 10px;
    }
    .event-detail table th:first-child,.event-detail table td:first-child{
        min-width: 200px;
    }
    .event-detail table td div.md-hidden span{
        color: #555;
        width: 60px;
        margin-right: 5px;
        display: inline-block;
    }
    .event-detail table td div.md-hidden span:last-child{
        font-weight: 300;
    }
    .content form.search{
        margin-top: 10px;
    }
    .bg-overlay{
        display: block;
        position: fixed;
        width: 100vw;
        height: 100%;
        z-index: 111;
        top: 0;
        background: rgba(0,0,0,0.8);
        display: none;
    }
    .main-content{
        padding-left: 15px!important;
        padding-right: 15px !important;
    }
    .carousel-item-info{
        font-size: 10px;
    }
    header .container {
        width: 100%;
        max-width: 100%;
    }
    .progress-booking >div h5{
        font-size: 14px;
        padding: 0 15px;
    }
    .booking #breadcrumb{
        border: none;
    }
    .select{
        width: 100%;
        margin-bottom: 15px;
    }
    .vhandicap {
        width: 100% !important;
    }

}
#close-menu{
    position: absolute;
    right: -50px;
    top: 0;
    font-size: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: #F36F25;
    display: none;
    color: #fff!important;
}
@media screen and (max-width: 500px) {
    .info{
        font-size: 14px;
    }
    .event-detail table th:first-child,.event-detail table td:first-child{
        min-width: 120px;
    }
    .event-detail table td button {
        width: 120px;
        margin-bottom: 10px;
    }
    body{
        font-size: 13px;
    }
    .carousel-item-info{
        font-size: 8px;
        padding-top: 5%;
    }
    .carousel-indicators{
        bottom: 0;
    }
    .main-button,.second-button{
        font-size: 12px!important;
    }
    /*table a.main-button,table a.second-button{*/
        /*font-size: 10px !important;*/
    /*}*/
    #pills-golfers .main-button,#pills-golfers .second-button{
        margin-bottom: 10px;
    }
    .pagination li a,.pagination li div{
        font-size: 10px;
    }
    .progress-booking >div h5{
        font-size: 12px;
        padding: 0 5px;
    }
    .progress-booking >div:nth-child(n+3) h5{
        padding: 0 20px;
    }
    .booking #breadcrumb{
        border:none;
    }
    .booking .main-button,.booking .second-button{
        font-size: 13px !important;
    }
    .flight-table .title{
        margin-left: -10px;
    }
    .flight-table{
        padding-left: 0;
    }
    .progress-booking >div svg{
        font-size: 20px;
    }
    .payment.checked:before,.payment{
        width: 20px;
        height: 20px;
        line-height: 20px;
    }
    .payment.checked svg {
        top: 1px;
        left: 1px;
    }
}
@media screen and (max-width: 400px) {
    .event-detail table td button {
        width: 70px;
        margin-bottom: 10px;
    }
    .carousel-item-info{
        font-size: 6px;
    }
    .main-button,.second-button{
        font-size: 10px!important;
    }
    .event-item__detail .title {
        font-size: 1.3em;
        line-height: 1.3em;
    }
    .block-title {
        font-size: 1.3em;
        font-weight: 300;
    }
    .event-detail table td button{
        width: 100%;
        padding: 5px!important;
        font-size: 10px;
        border-radius: 5px !important;
    }
    .event-detail table th:first-child,.event-detail table td:first-child{
        min-width: 100px;
    }
    .nav-pills .nav-link{
        width: 110px;
        font-size: 16px;
    }
    .main-content{
        padding-left: 15px!important;
        padding-right: 15px !important;
    }
    .sm-position-absolute .md-hidden img{
        width: 22px;
    }
    .sm-header .md-hidden a{
        font-size: 12px;
    }
    .event-list--sidebar .event-item__detail .d-flex *,.event-list--sidebar .event-item__detail .d-flex a{
        font-size: 20px;
        line-height: 20px;
    }
    .progress-booking >div h5 {
        font-size: 12px;
        padding: 0;
    }
}