footer
	.container.padding-v-30
		.row
			.col-md-6.md-no-padding
				a.logo(href='')
					img(src='../images/GolfNews_Logo_black.png')
				<p>&copy; Copyright 2018 Golfnews Tournament Booking System.All rights reserved<p>
				p Tất cả bản quyền thuộc về Golfnews
			.col-md-2
				p Column 1
				p Column 2
				p Column 3
			.col-md-2
				p Column 1
				p Column 2
				p Column 3
			.col-md-2
				p Column 1
				p Column 2
				p Column 3
