header
	.container.padding-v-15
		.position-relative
			.row.align-items-center#sm-header
				.col-lg-7.col-md-6
					.row.align-items-center.sm-background
						.col-md-6.md-no-padding
							.d-flex.align-items-center.justify-content-between.sm-header
								a.logo(href='')
									img(src='../images/GolfNews_Logo_black.png' class='sm-hidden')
									img(src='../images/Logo.png' class='md-hidden')
									#close-menu
										i(class='fa fa-times')
								.md-hidden
									a(href='#' data-toggle="modal" data-target="#exampleModal") ĐĂNG NHẬP
									a(href='' class='is-login hidden')
										i(class='fa fa-user')
										span 10
						.col-md-6.md-no-padding
							form.search(action="")
								input(type='text' placeholder='Tìm giải đấu')
								button(type='submit')
										i(class='fas fa-search')
				.col-lg-5.col-md-6.sm-position-absolute.md-no-padding
					nav
						div.md-hidden
							img(src='../images/bar.png')
						ul.text-right
							li
								a(href='/danh-sach-giai-dau') DS giải đấu
							li
								a(href='/tin-tuc-golf') TIN TỨC GOLF
							li
								a(href='#' class='sm-hidden' data-toggle="modal" data-target="#exampleModal") ĐĂNG NHẬP
								a(href='' class='is-login hidden')
									i(class='fa fa-user')
									span 10
div.bg-overlay.hidden
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header no-padding">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body text-center">
				div.form-register.hidden
					h5.modal-title.mb-3 ĐĂNG KÝ NGƯỜI DÙNG MỚI
					form.register.text-left
						div.row.align-items-center
							label(for='last_name' class='col-3')
								|Họ & chữ lót
								span *
							input(type='text', id='last_name', name='last_name', required= 'true' , maxlength="255" , pattern = "[a-zA-Z]+", title='Chỉ nhập ký tự là chữ')
						div.row.align-items-center
							label(for='first_name' class='col-3')
								|Tên
								span *
							input(type='text', id='first_name', name='first_name', required= 'true' , maxlength="255" , pattern = "[a-zA-Z]+", title='Chỉ nhập ký tự là chữ')
						div.row.align-items-center
							label(for='phone' class='col-3')
								|Số điện thoại
								span *
							input(type='text', id='phone' name='phone' required= 'true' maxlength="255" pattern = "[0-9]+" title='Chỉ nhập số')
						div.row.align-items-center
							label(for='vhandicap' class='col-3')
								|Handicap
								span *
							div.select
								input(type='text' readonly placeholder='VHandicap' name='course' id='course')
								ul
									li San Long Thanh
									li San Dong Mo
									li San Long Thanh
							input(type='text' class='vhandicap' id='vhandicap' name='vhandicap')
						div.row.align-items-center
							label(for='email' class='col-3') Email
							input(type='email', id='email' name='email' maxlength="255" title='Email không hợp lệ.Vui lòng nhập lại')
						div.text-center.mt-3
							button.main-button(type='submit') ĐĂNG KÝ
				div.form-login
					h5.modal-title NHẬP SỐ ĐIỆN THOẠI
					div Để bắt đâù đăng ký, chúng tôi cần xác minh số điện thoại của bạn
					form.login
						label(for='phone_number') Nhập số điện thoại
						div.mb-3
							input(type='text',id='phone_number',name='phone_number',required= 'true' ,maxlength="255" ,pattern = "[0-9]{1,12}" title='Chỉ nhập số')
						button.main-button(type='submit') Nhận mã OTP
				div.form-otp.hidden
					h5.modal-title NHẬP MÃ OTP CỦA BẠN
					div.text-danger
					form.login
						//	label(for='otp') Nhập mã OTP của bạn
						div.mb-3
							input( class='padding-h-15' type='text' id='otp' name='otp' required= 'true' maxlength="255" ,pattern = "[0-9]+" title='Mã OTP không hợp lệ')
						button.main-button(type='submit') Đăng nhập
						div.margin-center.main-button#resend.hidden Nhận mã OTP khác

				div.form-success.hidden
					h5.modal-title ĐĂNG KÝ THÀNH CÔNG
					div.text-left Bạn đã tạo thành công tài khoản trên hệ thống Golfnews Tournament Booking. Mỗi lần đăng nhập,mật khẩu sẽ được gửi về số điện thoại mà bạn đã đăng ký.<br>
					div.text-left Vui lòng nhấn "Tiếp tục" để đăng ký giải
					button.main-button Tiếp tục đăng ký giải
			</div>
		</div>
	</div>
</div>


