mixin progress(step)
	- var title = ['Chọn buổi thi đấu','Nhập thông tin flight','Xác nhận','Thanh toán','Hoàn tất']
	div.progress-booking.d-flex
		each item,x in title
			- var className = (x<step)? 'complete' : ''
			div(class=className)
				div.d-flex.align-items-center
					i.fas.fa-check-circle
				h5(class=(x==step)? 'main-color' : '')= item

