div.sidebar.padding-15
	h6 THÔNG TIN ĐĂNG KÝ
	p.title.main-color The 2nd Vhandicap Tournament 2018 - FORD CUP
	ul
		li
			div Địa điểm
			div Sân Golf Tân Sơn Nhất
		li
			div Xuất phát
			div 07:00 ngày 25/01/2019
		li
			div Số lượng
			div 0
		li
			div Bao gồm
			div
				ul
					li Ăn nhẹ trước khi xuất phát
					li Phí ra sân
					li Phí Caddie
					li Phí xe điện(2 người/xe)
					li Tiệc trao giải
	div.d-flex.justify-content-between.margin-v-15
		div Tổng lệ phí:
		h5.main-color 7.500.000


