extends layout.pug
include ../progress
block content
	.container.booking
		.row
			.col-md-12.md-no-padding
				nav#breadcrumb.margin-v-15
					<ol class="breadcrumb no-padding">
					<li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
					<li class="breadcrumb-item"><i class="fas fa-angle-right"></i><a href="#">Giải đấu</a></li>
					<li class="breadcrumb-item active" aria-current="page"><i class="fas fa-angle-right"></i>Đăng ký giải</li>
					</ol>
				h5.title.main-color.padding-v-15 The Vhandicap Tournament 2018 - FORD CUP
				+progress(4)
				div.booking-complete.text-center.padding-v-30
					.col-lg-6.margin-center
						i.fas.fa-check-circle
						h5.title Bạn đã thanh toán thành công
						div
							| Ban tổ chức xin cảm ơn và mong chờ chào đón bạn tại giải<br>
							b The 2nd Vhandicap Tournament 2018 - FORD CUP<br>
							| Danh sách đăng ký bạn có thể xem tại trang thông tin của giải <br>
							| Bạn sẽ được chuyển về trang danh sách trong ... giây nữa<br>
						a.main-button.xl-button.mt-3(href='') Xem danh sách đăng ký









