extends layout_booking.pug
include ../progress
block progress
	+progress(0)
block booking
	form(action='')
		table
			tr.title
				th Chọn buổi thi đấu
				th Thời gian xuất phát
				th Xuất trống
			- for (var x = 1; x <= 3; x++)
				tr
					td
						if x ==1
							input(type='radio' name='time' id='option_'+x checked)
						else
							input(type='radio' name='time' id='option_'+x)
						label(for='option_'+x) Sáng 25/01/2019
					td 07:00
					td 15
	div.text-center.mt-3
		a(href='' class='main-button xl-button') Tiếp tục







