extends layout.pug
include ../progress
block content
	.container.booking
		.row
			.col-md-12.md-no-padding
				nav#breadcrumb.margin-v-15
					<ol class="breadcrumb no-padding">
					<li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
					<li class="breadcrumb-item"><i class="fas fa-angle-right"></i><a href="#">Giải đấu</a></li>
					<li class="breadcrumb-item active" aria-current="page"><i class="fas fa-angle-right"></i>Đăng ký giải</li>
					</ol>
				h5.title.main-color.padding-v-15 The Vhandicap Tournament 2018 - FORD CUP
				block progress
		.row.flex-row-reverse
			.col-xl-3.col-md-4.md-no-padding
				include ../sidebar
			.col-xl-9.col-md-8.md-no-padding
				block booking






