doctype html
html
    head
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="description" content="Booking giai dau">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        block head
            link(rel="stylesheet", href= "../font/roboto/stylesheet.css")
            //<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
            link(rel="stylesheet", href= "../css/bootstrap-4.1.3.min.css")
            link(rel="stylesheet", href= "../font-awesome/css/all.css")
            link(rel="stylesheet", href= "../css/main.css")
            link(rel="stylesheet", href= "../css/responsive.css")
            script(src="../font-awesome/js/all.js")
    body
        block header
            include ../header.pug
        block content
        block footer
            include ../footer.pug
        block scripts
            script( src="../js/jquery-3.2.1.slim.min.js")
            script( src="../js/popper.min.js")
            script( src="../js/bootstrap-4.1.3.min.js")
            script( src="../js/jquery-1.12.4.js")
            script( src="../js/jquery-ui-1.12.1.js")
        block myscripts
            script( src="../js/main.js")
